@charset "UTF-8";
/* Подключаем шрифты(берем их с собой) */
/* &display=swap&subset=cyrillic-ext */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@700&display=swap");
:root {
  --main-dark-color: #303030;
  --main-light-color: #ffffff;
  --main-text-color: #9da4bd;
  --color-text-about: #555555;
  --color-text-form: #757575;
  --accent-color: #ff6c00;
  --box-bg-color: #f7f7f7;
  --trans: 0.3s ease-in-out;
}

/*??ОБНУЛЕНИЕ*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

/*???ОБНУЛЕНИЕ*/
.block-text__sub-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.block-text__sub-title::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}
.block-text__sub-title_black {
  color: var(--main-dark-color);
}
.block-text__sub-title_black::before {
  background-color: var(--main-dark-color);
}
.block-text__sub-title_colw {
  color: var(--main-light-color);
}
.block-text__sub-title:not(:last-child) {
  margin-bottom: 20px;
}
.block-text__title {
  font-family: Raleway;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-light-color);
}
@media (max-width: 479.99px) {
  .block-text__title {
    font-size: 42px;
  }
}
.block-text__title_black span {
  color: var(--main-dark-color);
}
@media (max-width: 319.99px) {
  .block-text__title_black span {
    font-size: 40px;
  }
}
.block-text__title_fz span {
  font-size: calc(48px + 24 * (100vw - 480px) / 1120);
}
.block-text__title_fzb span {
  font-size: calc(40px + 2 * (100vw - 320px) / 1280);
}
@media (max-width: 319.99px) {
  .block-text__title_fzb span {
    font-size: 40px;
  }
}
.block-text__title_mw {
  max-width: 430px;
}
@media (max-width: 479.99px) {
  .block-text__title_about-fz {
    font-size: 28px;
    max-width: 306px;
  }
}
.block-text__title:not(:last-child) {
  margin-bottom: 20px;
}
.block-text__text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
@media (max-width: 767.99px) {
  .block-text__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #555555;
  }
}
.block-text__text_color {
  color: var(--main-text-color);
}
.block-text__text_black {
  color: var(--main-dark-color);
}

.button {
  border: 1px solid #ff6c00;
  border-radius: 25px;
  padding: 12px 19px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--main-light-color);
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
  background-color: inherit;
  display: inline-block;
  min-width: 160px;
}

.button:hover {
  cursor: pointer;
  background-color: var(--accent-color);
}

:root {
  --main-dark-color: #303030;
  --main-light-color: #ffffff;
  --main-text-color: #9da4bd;
  --color-text-about: #555555;
  --color-text-form: #757575;
  --accent-color: #ff6c00;
  --box-bg-color: #f7f7f7;
  --trans: 0.3s ease-in-out;
}

.header {
  padding: 32px 0px 32px 0px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 500;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__logo {
  margin-right: calc(60px + 140 * (100vw - 768px) / 832);
}
.menu__logo img {
  max-width: 100%;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 calc(10px + 20 * (100vw - 768px) / 832);
}
.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-light-color);
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
}
.menu__link:hover {
  cursor: pointer;
  color: var(--accent-color);
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.actions__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-light-color);
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
  margin-right: calc(10px + 33 * (100vw - 768px) / 832);
}
.actions__tel:hover {
  cursor: pointer;
  color: var(--accent-color);
}
.actions__button {
  margin-right: calc(0px + 20 * (100vw - 768px) / 832);
}

/* ===========================================******BURGER ICON*****========================================================== */
.close-icon-menu,
.icon-menu {
  display: none;
}

@media (max-width: 767.99px) {
  .header__button {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__container,
div.hero__container {
    padding: 0;
  }
  .header__actions {
    display: none;
  }
  div .hero__social {
    display: none;
  }
  .close-icon-menu,
.icon-menu {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25px;
            flex: 0 0 25px;
    height: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px 30px 0px 20px;
  }
  .icon-menu {
    background: url("../img/header/button/open.svg") center/100% no-repeat;
  }
  .close-icon-menu {
    display: none;
  }
  .close-icon-menu::before {
    content: "";
    display: inline-block;
    height: 35px;
    background: url("../img/header/button/close.svg") center/100% no-repeat;
  }
  .header:target .icon-menu {
    display: none;
  }
  .header:target .close-icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header:target .close-icon-menu .header {
    padding-top: 200px;
  }
}
@media (max-width: 767.98px) {
  .header {
    padding: 0;
  }
  .menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 80%;
    padding: 80px 15px 30px 15px;
    background-color: #ffffff;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    overflow: auto;
  }
  .header:target .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 60px;
    background-color: #ffffff;
    z-index: 2;
    -webkit-animation: befo 0.3s ease-in-out forwards;
            animation: befo 0.3s ease-in-out forwards;
  }
  @-webkit-keyframes befo {
    0% {
      top: 0;
      right: -100%;
    }
    100% {
      right: 0;
    }
  }
  @keyframes befo {
    0% {
      top: 0;
      right: -100%;
    }
    100% {
      right: 0;
    }
  }
  .header:target .menu__body,
.header:target .menu__item {
    right: 0;
  }
  .menu__list {
    padding: 40px 0px 0px 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 24px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .menu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--main-dark-color);
    font-size: 18px;
  }
  .menu__item {
    position: relative;
    top: 0;
    right: -100%;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .menu__item:nth-child(1) {
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
  }
  .menu__item:nth-child(2) {
    -webkit-transition-delay: 0.1s;
         -o-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .menu__item:nth-child(3) {
    -webkit-transition-delay: 0.2s;
         -o-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .menu__item:nth-child(4) {
    -webkit-transition-delay: 0.3s;
         -o-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
}
@media (max-width: 820.99px) {
  .header__menu {
    padding-top: 16px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 20px;
  }
}
:root {
  --main-dark-color: #303030;
  --main-light-color: #ffffff;
  --main-text-color: #9da4bd;
  --color-text-about: #555555;
  --color-text-form: #757575;
  --accent-color: #ff6c00;
  --box-bg-color: #f7f7f7;
  --trans: 0.3s ease-in-out;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: rgba(25, 28, 38, 0.2) url("../img/header/slider/slider-img01.jpg") center center/cover no-repeat;
  position: relative;
}
.slider__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 24px;
  position: absolute;
  bottom: 40px;
  right: 20px;
}
.slider__back, .slider__forward {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.6);
}
.slider__forward {
  text-align: right;
}
.slider__forward::after, .slider__back::after {
  margin-top: 8px;
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}
.slider__back:hover, .slider__forward:hover {
  color: var(--main-light-color);
  cursor: pointer;
}
.slider__back:hover.slider__back::after, .slider__forward:hover.slider__forward::after {
  background-color: var(--main-light-color);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 27px 0px 0px 40px;
  gap: 15px 40px;
}
.social__list_90 {
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(-90deg) translate(0, 100%);
      -ms-transform: rotate(-90deg) translate(0, 100%);
          transform: rotate(-90deg) translate(0, 100%);
}
.social__list_pading {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}
.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social__list::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--main-dark-color);
}
.social__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-dark-color);
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
}
.social__link:hover {
  cursor: pointer;
  color: var(--accent-color);
}

.hero_text {
  padding: 272px 0px 208px 100px;
}

@media (max-width: 767.99px) {
  .hero_text {
    padding: 202px 30px 150px 30px;
  }
}
.about {
  padding: 120px 0px 120px 0px;
}
.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 15px);
          flex: 0 0 calc(50% - 15px);
  max-width: 470px;
}
@media (max-width: 767.99px) {
  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 330px;
  }
}
@media (max-width: 708.99px) {
  .about__content {
    max-width: none;
  }
}
.about__desr {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  padding: 20px 0px 35px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.about__btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: var(--main-dark-color);
}

.icon {
  padding-right: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 15px);
          flex: 0 0 calc(50% - 15px);
}
.icon__list {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1200px) {
  .icon__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.icon__item {
  padding: 0 15px;
}
@media (max-width: 708.99px) {
  .about__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .about__icon {
    display: none;
  }
}
.services {
  background: #111319 url("../img/main/services/bg.png") center center/cover no-repeat;
}
.services_text {
  padding: 120px 0 44px 0;
}
.services__button {
  text-align: center;
  padding: 44px 0px 120px 0px;
}
@media (max-width: 319.99px) {
  .services__button {
    padding: 44px 0px 100px 0px;
  }
}

.cards-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1019.99px) {
  .cards-services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background-image: -o-linear-gradient(top, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}
.cards-services__list-left {
  padding: 30px 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 15px);
          flex: 0 0 calc(50% - 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background-image: -o-linear-gradient(top, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
@media (max-width: 1019.99px) {
  .cards-services__list-left {
    padding: 30px 40px 20px 40px;
    background-image: none;
  }
}
@media (max-width: 400.99px) {
  .cards-services__list-left {
    padding: 30px 20px 20px 20px;
  }
}
.cards-services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: calc(11px + 7 * (100vw - 320px) / 1280);
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.cards-services__item:not(:last-child) {
  margin-bottom: 20px;
}
.cards-services__serv {
  max-width: 262px;
  padding-right: calc(3px + 9 * (100vw - 320px) / 1280);
}
@media (max-width: 767.99px) {
  .cards-services__serv {
    max-width: 200px;
  }
}
@media (max-width: 459.99px) {
  .cards-services__serv {
    max-width: 140px;
  }
}
@media (max-width: 400.99px) {
  .cards-services__serv {
    max-width: 100px;
  }
}
.cards-services__decor {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.cards-services__decor::after {
  content: "";
  width: 100%;
  height: 1px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: rgba(157, 164, 189, 0.12);
}
.cards-services__price {
  padding-left: calc(3px + 9 * (100vw - 320px) / 1280);
}
.cards-services__list-right {
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 15px);
          flex: 0 0 calc(50% - 15px);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
  background-image: -o-linear-gradient(top, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
@media (max-width: 1019.99px) {
  .cards-services__list-right {
    padding: 0px 40px 20px 40px;
    background-image: none;
  }
}
@media (max-width: 400.99px) {
  .cards-services__list-right {
    padding: 30px 20px 20px 20px;
  }
}

.why__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767.99px) {
  .why__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.why__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 15px);
          flex: 0 0 calc(50% - 15px);
  max-width: 500px;
  padding: 120px 0px 0px 30px;
}
@media (max-width: 767.99px) {
  .why__content {
    padding: 100px 0px 0px 15px;
  }
}
@media (max-width: 479.99px) {
  .why__content {
    padding: 84px 0px 0px 0px;
  }
}
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 15px);
          flex: 0 0 calc(50% - 15px);
  padding: 120px 0px 120px 0px;
}
@media (max-width: 767.99px) {
  .features {
    padding: 44px 0px 100px 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 15px);
            flex: 0 0 calc(100% - 15px);
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media (max-width: 410.99px) {
  .features {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.features__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media (max-width: 470.99px) {
  .features__body {
    gap: 15px;
  }
}
.features__list-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media (max-width: 470.99px) {
  .features__list-left {
    gap: 15px;
  }
}
.features__list-right {
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media (max-width: 470.99px) {
  .features__list-right {
    gap: 15px;
  }
}
.features__item {
  max-width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--box-bg-color);
  padding: 20px 25px;
  min-height: 133px;
}
@media (max-width: 767.99px) {
  .features__item {
    max-width: 210px;
    padding: 20px 44px;
  }
}
@media (max-width: 470.99px) {
  .features__item {
    max-width: 170px;
  }
}
@media (max-width: 410.99px) {
  .features__item {
    max-width: 130px;
  }
}
.features__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: var(--main-dark-color);
  margin-bottom: 6px;
  position: relative;
}
.features__title::after {
  -webkit-transform: translate(100%, 100%);
      -ms-transform: translate(100%, 100%);
          transform: translate(100%, 100%);
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 9px;
  height: 9px;
  display: inline-block;
  background: url("../img/main/why-we/decor.svg") center/100% no-repeat;
}
.features__text {
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--main-dark-color);
}
.features__text_mw {
  max-width: 99px;
}
@media (max-width: 767.99px) {
  .features__text_mw {
    max-width: none;
  }
}

.barbers {
  background-color: var(--box-bg-color);
}
.barbers__body {
  padding: 120px 0px 120px 0px;
}
@media (max-width: 785.99px) {
  .barbers__body {
    padding-left: calc(1px + 119 * (100vw - 320px) / 448);
  }
}
.barbers__text {
  padding-bottom: 44px;
}
.cards-barbers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  row-gap: 30px;
}
.cards-barbers__item {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(33.333% - 15px);
          flex: 1 1 calc(33.333% - 15px);
}
@media (max-width: 785.99px) {
  .cards-barbers__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 480px;
            flex: 0 1 480px;
  }
}
.cards-barbers__icon {
  min-width: 370px;
  margin-bottom: 30px;
}
@media (max-width: 785.99px) {
  .cards-barbers__icon {
    min-width: 480px;
  }
}
@media (max-width: 623.99px) {
  .cards-barbers__icon {
    min-width: 100%;
  }
}
.cards-barbers__icon img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.cards-barbers__title {
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.02em;
  color: var(--main-dark-color);
  margin-bottom: 8px;
}
.cards-barbers__text {
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 10px;
}
.social-list__item:hover .social-list__icon {
  -webkit-animation: zoomi 0.3s ease forwards;
          animation: zoomi 0.3s ease forwards;
  color: var(--accent-color);
}
@-webkit-keyframes zoomi {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes zoomi {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: var(--main-light-color);
}
.social-list__icon {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: var(--main-dark-color);
}

.portfolio {
  padding: 120px 0px 120px 0px;
}
.portfolio__text {
  padding-bottom: 44px;
}
.icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  margin: 0 -15px;
}
.icon-list__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(25% - 30px);
          flex: 1 1 calc(25% - 30px);
  padding: 0px 15px;
  min-width: 300px;
}
.icon-list__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.contacts {
  background-color: #191c26;
}
.contacts__container {
  padding-top: 130px;
}
.contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1200px) {
  .contacts__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.left-contacts {
  padding-top: 130px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
@media (max-width: 1200px) {
  .left-contacts {
    padding: 100px 0px 100px 0px;
  }
}
.left-contacts__text {
  margin-bottom: 44px;
}
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 44px;
  padding-right: 30px;
}
.form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media (max-width: 430px) {
  .form__inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.form__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 270px;
          flex: 0 1 270px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  background-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  color: rgba(157, 164, 189, 0.4);
  outline: none;
  padding-bottom: 8px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.form__input::-webkit-input-placeholder {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
}
.form__input::-moz-placeholder {
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
}
.form__input:-ms-input-placeholder {
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
}
.form__input::-ms-input-placeholder {
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
}
.form__input::placeholder {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
}
.form__input:hover {
  color: var(--main-light-color);
  border-bottom: 1px solid var(--main-light-color);
}
.form__input:hover::-webkit-input-placeholder {
  color: var(--main-light-color);
}
.form__input:hover::-moz-placeholder {
  color: var(--main-light-color);
}
.form__input:hover:-ms-input-placeholder {
  color: var(--main-light-color);
}
.form__input:hover::-ms-input-placeholder {
  color: var(--main-light-color);
}
.form__input:hover::placeholder {
  color: var(--main-light-color);
}
@media (max-width: 1200px) {
  .form__input {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.textarea-form {
  background-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  color: rgba(157, 164, 189, 0.4);
  resize: none;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.textarea-form:hover {
  color: var(--main-light-color);
  border-bottom: 1px solid var(--main-light-color);
}
.textarea-form::-webkit-input-placeholder {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.textarea-form::-moz-placeholder {
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.textarea-form:-ms-input-placeholder {
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.textarea-form::-ms-input-placeholder {
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.textarea-form::placeholder {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.textarea-form:hover::-webkit-input-placeholder {
  color: var(--main-light-color);
}
.textarea-form:hover::-moz-placeholder {
  color: var(--main-light-color);
}
.textarea-form:hover:-ms-input-placeholder {
  color: var(--main-light-color);
}
.textarea-form:hover::-ms-input-placeholder {
  color: var(--main-light-color);
}
.textarea-form:hover::placeholder {
  color: var(--main-light-color);
}

.send-btn {
  -ms-flex-item-align: center;
      align-self: center;
}

.right-contacts {
  padding: 130px 0px 0px 100px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 47.4%;
          flex: 1 1 47.4%;
  position: relative;
}
@media (max-width: 1200px) {
  .right-contacts {
    padding: 100px 0px 0px 0px;
  }
}
.right-contacts::after {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background: url("../img/main/contacts/01.png") center/cover no-repeat;
}
@media (max-width: 1200px) {
  .right-contacts::after {
    left: -30px;
    width: 120vw;
  }
}
.right-contacts__text {
  padding-bottom: 40px;
}
@media (max-width: 1200px) {
  .right-contacts__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .right-contacts__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 630px) {
  .right-contacts__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.links {
  padding-bottom: 70px;
}
@media (max-width: 1200px) {
  .links {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}
.links__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.links__address::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../img/main/contacts/icons/address.svg") center/cover no-repeat;
  display: inline-block;
}
.links__link {
  max-width: 215px;
  font-size: 18px;
  line-height: 1.67;
  color: var(--main-text-color);
  letter-spacing: 0.02em;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.links__link:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
@media (max-width: 630px) {
  .links__link {
    max-width: none;
  }
}
.links__phone::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../img/main/contacts/icons/phone.svg") center/cover no-repeat;
  display: inline-block;
}
.links__mail::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../img/main/contacts/icons/mail.svg") center/cover no-repeat;
  display: inline-block;
}

.link {
  position: relative;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.link:hover {
  cursor: pointer;
  color: #a5b3e3;
}

.link_fw {
  font-weight: 700;
}

.link:not(:last-child) {
  margin-bottom: 20px;
}

.footer__body {
  padding: 56px 0px 56px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 720px) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
}
.footer__social {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-width: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 280px;
          flex: 0 1 280px;
}
@media (max-width: 720px) {
  .footer__social {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.corpor {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.corpor__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
  margin: 0 -10px;
}
.corpor__item {
  padding: 0 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-text-color);
  min-width: 170px;
}
.corpor__item span {
  display: inline-block;
  padding-right: 6px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  max-width: 1200px;
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
}

@media (max-width: 767.99px) {
  [class*=__container] {
    max-width: 763px;
    padding: 0px 30px 0px 30px;
    margin: 0 auto;
  }
}
@media (max-width: 479.99px) {
  [class*=__container] {
    max-width: 478px;
    padding: 0px 30px 0px 30px;
    margin: 0 auto;
  }
}
@media (max-width: 319.99px) {
  [class*=__container] {
    max-width: none;
    padding: 0px 15px 0px 15px;
    margin: 0 auto;
  }
}
main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}