.about {
	padding: 120px 0px 120px 0px;
	&__container {
		display: flex;
	}

	&__icon {
	}

	&__content {
		display: flex;
		flex-direction: column;
		flex: 0 0 calc(50% - 15px);
		max-width: 470px;
		@media (max-width: 767.99px) {
			display: flex;
			flex-direction: column;
			max-width: 330px;
		}
		@media (max-width: 708.99px) {
			max-width: none;
		}
	}

	&__text {
	}

	&__desr {
		font-size: 14px;
		line-height: 1.86;
		letter-spacing: 0.02em;
		color: #555555;
		padding: 20px 0px 35px 0px;
		flex: 1;
	}

	&__btn {
		align-self: flex-start;
		color: var(--main-dark-color);
	}
}

.icon {
	padding-right: 30px;
	flex: 0 0 calc(50% - 15px);
	&__list {
		margin: 0 -15px;
		display: flex;
		@media (max-width: 1200px) {
			flex-direction: column;
			gap: 30px 0;
			align-items: center;
		}
	}

	&__item {
		padding: 0 15px;
	}
	&__item img {
	}
}

@media (max-width: 708.99px) {
	.about__content {
		flex: 1 1 100%;
	}
	.about__icon {
		display: none;
	}
}
