// BLOC TEXT===================================================================

.block-text {
	&__sub-title {
		font-weight: 600;
		font-size: 11px;
		line-height: 1.36;
		text-transform: uppercase;
		color: rgba(157, 164, 189, 0.6);
		display: flex;
		align-items: center;
		gap: 20px;

		&::before {
			content: "";
			display: inline-block;
			width: 60px;
			height: 1px;
			background-color: rgba(157, 164, 189, 0.6);
		}
		&_black {
			&::before {
				background-color: var(--main-dark-color);
			}
			color: var(--main-dark-color);
		}
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__title {
		font-family: Raleway;
		font-size: 42px;
		font-weight: 700;
		line-height: 1.18;
		letter-spacing: 0.05em;
		color: var(--main-light-color);
		@media (max-width: 479.99px) {
			font-size: 42px;
		}

		&_black span {
			color: var(--main-dark-color);
			@media (max-width: 319.99px) {
				font-size: 40px;
			}
		}

		&_fz span {
			font-size: calc(48px + (72 - 48) * ((100vw - 480px) / (1600 - 480)));
		}
		&_fzb span {
			font-size: calc(40px + (42 - 40) * ((100vw - 320px) / (1600 - 320)));
			@media (max-width: 319.99px) {
				font-size: 40px;
			}
		}
		&_mw {
			max-width: 430px;
		}
		&_about-fz {
			@media (max-width: 479.99px) {
				font-size: 28px;
				max-width: 306px;
			}
		}

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__text {
		font-size: 18px;
		line-height: 1.67;
		letter-spacing: 0.02em;
		color: var(--main-text-color);

		@media (max-width: 767.99px) {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 30px;

			letter-spacing: 0.02em;
			color: #555555;
		}

		&_black {
			color: var(--main-dark-color);
		}
	}
}

// BLOC TEXT===================================================================

// Button===================================================================

.button {
	border: 1px solid #ff6c00;
	border-radius: 25px;
	padding: 12px 19px;
	font-weight: 600;
	font-size: 12px;
	// line-height: 1.33;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	color: var(--main-light-color);
	transition: var(--trans);
	background-color: inherit;
	display: inline-block;
}
.button:hover {
	cursor: pointer;
	background-color: var(--accent-color);
}
// Button===================================================================
